/.vscode
/build
/fai1-kadai.pdf
/fai1.pdf
/fai2-kadai.pdf
/fai2.pdf
/fai3-project1.pdf
/fai3.pdf
/fai4-kadai.pdf
/fai4.pdf
/repo1.aux
/repo1.log
/repo1.pdf
/repo1.tex
/repo2.aux
/repo2.bbl
/repo2.bib
/repo2.blg
/repo2.dvi
/repo2.log
/repo2.pdf
/repo2.synctex.gz
/repo2.tex
/repo3.aux
/repo3.log
/repo3.pdf
/repo3.tex
/repo4.aux
/repo4.dvi
/repo4.log
/repo4.pdf
/repo4.synctex.gz
/repo4.tex